Repository cbrown330/coda, changes with the owners that CODEOWNERS names for each.
All owners: @imeckler, @bkase, @schmavery, @figitaki, @o1pranay, @jkrauska, @yourbuddyconner, @psteckler, @es92, @cmr, @nholland94, @wu-s-john, @ghost-not-in-the-shell, @deepthiskumar, @enolan, @mrmr1993, @rbkhmrcr, @vanishreerao

temp
  dockerfiles/Dockerfile-toolchain
  scripts/generate-submodule-commits.sh
Owners: @jkrauska, @yourbuddyconner, @bkase, @psteckler, @cmr

temp
  dockerfiles/Dockerfile-toolchain
Owners: @jkrauska, @yourbuddyconner, @bkase, @psteckler

temp
  dockerfiles/Dockerfile-toolchain
Owners: @jkrauska, @yourbuddyconner, @bkase, @psteckler

Update my-first-transaction.md
  frontend/website/docs/my-first-transaction.md
Owners: @schmavery, @bkase, @figitaki, @o1pranay

apt-get update and upgrade
  frontend/website/docs/getting-started.md
Owners: @schmavery, @bkase, @figitaki, @o1pranay

CODEOWNERS:

/CODEOWNERS @imeckler @bkase
/frontend/ @schmavery @bkase @figitaki @o1pranay
/dockerfiles/ @jkrauska @yourbuddyconner @bkase @psteckler
/rfcs/ @imeckler @es92 @bkase
/scripts/ @jkrauska @yourbuddyconner @cmr @bkase @psteckler
/scripts/test.py @nholland94 @cmr @bkase
/Makefile @jkrauska @bkase @yourbuddyconner
/src/config/dev.mlh @nholland94 @cmr @bkase
/src/config/testnet_postake_medium_curves.mlh @nholland94 @jkrauska @cmr
/CODE_OF_CONDUCT.md @imeckler @cmr @o1pranay
/CONTRIBUTING.md @imeckler @cmr @o1pranay
/LICENSE @imeckler
/README.md @cmr @imeckler @o1pranay
/README-dev.md @cmr @imeckler @o1pranay

/src/external/ @cmr @bkase @psteckler @imeckler

/src/app/cli/src/tests @cmr @bkase @wu-s-john @ghost-not-in-the-shell @deepthiskumar
/src/app/cli/src/coda.ml @nholland94 @bkase @cmr @imeckler
/src/app/cli/src/init @nholland94 @bkase @cmr @imeckler
/src/app/kademlia-haskell/ @bkase @enolan @cmr @psteckler
/src/app/libp2p_helper @cmr @enolan @bkase
/src/app/reformat/ @bkase
/src/app/trace-tool/ @cmr @mrmr1993
/src/app/website/ @bkase @schmavery @figitaki

/src/lib/best_tip_prover/ @wu-s-john @nholland94
/src/lib/blake2/ @rbkhmrcr @vanishreerao @imeckler
/src/lib/blockchain_snark/ @nholland94 @bkase @imeckler @mrmr1993
/src/lib/bootstrap_controller/ @nholland94 @wu-s-john @ghost-not-in-the-shell
/src/lib/cache_lib/ @nholland94 @ghost-not-in-the-shell
/src/lib/chunked_triples/ @psteckler @rbkhmrcr @vanishreerao @imeckler @mrmr1993
/src/lib/cli_lib/ @wu-s-john @bkase @schmavery
/src/lib/coda_base/ @cmr @nholland94 @bkase @imeckler
/src/lib/coda_commands @bkase @wu-s-john @schmavery
/src/lib/coda_graphql @bkase @wu-s-john @schmavery
/src/lib/coda_networking/ @cmr @enolan @nholland94
/src/lib/coda_numbers/ @bkase @nholland94 @imeckler @mrmr1993
/src/lib/coda_state/ @nholland94 @ghost-not-in-the-shell @wu-s-john
/src/lib/coda_transition/ @nholland94 @ghost-not-in-the-shell @wu-s-john
/src/lib/consensus/ @nholland94 @imeckler
/src/lib/crs/ @rbkhmrcr @vanishreerao @imeckler
/src/lib/crypto_params/ @rbkhmrcr @vanishreerao @imeckler
/src/lib/currency/ @bkase @nholland94 @imeckler @rbkhmrcr @vanishreerao
/src/lib/daemon_rpcs/ @wu-s-john @bkase @schmavery
/src/lib/debug_assert/ @nholland94 @bkase @cmr
/src/lib/dummy_values/ @bkase @imeckler @mrmr1993
/src/lib/genesis_ledger/ @nholland94 @bkase @cmr @jkrauska @yourbuddyconner
/src/lib/gossip_net/ @cmr @enolan @bkase
/src/lib/group_map/ @rbkhmrcr @vanishreerao @imeckler
/src/lib/hash_prefixes/ @rbkhmrcr @vanishreerao @imeckler
/src/lib/interruptible/ @bkase @nholland94
/src/lib/kademlia @bkase @cmr @enolan @psteckler
/src/lib/key_value_database/ @wu-s-john @bkase @nholland94
/src/lib/keys_lib/ @cmr @mrmr1993 @imeckler
/src/lib/ledger_catchup/ @nholland94 @wu-s-john @ghost-not-in-the-shell
/src/lib/ledger_proof/ @nholland94 @imeckler
/src/lib/linked_tree/ @cmr @imeckler @bkase
/src/lib/lite_base/ @bkase @cmr @imeckler
/src/lib/lite_lib/ @bkase @cmr @imeckler
/src/lib/lite_params/ @rbkhmrcr @vanishreerao @imeckler
/src/lib/logger/ @nholland94 @schmavery
/src/lib/logproc_lib/ @nholland94 @schmavery
/src/lib/merkle_address/ @cmr @bkase @nholland94 @wu-s-john
/src/lib/merkle_ledger/ @cmr @nholland94 @psteckler
/src/lib/merkle_list_prover/ @wu-s-john @cmr @psteckler @nholland94 @ghost-not-in-the-shell
/src/lib/merkle_list_verifier/ @wu-s-john @cmr @psteckler @nholland94 @ghost-not-in-the-shell
/src/lib/merkle_mask/ @nholland94 @psteckler
/src/lib/module_version/ @psteckler @mrmr1993
/src/lib/network_pool/ @enolan @nholland94 @deepthiskumar
/src/lib/non_zero_curve_point/ @rbkhmrcr @vanishreerao @imeckler
/src/lib/o1trace/ @cmr @mrmr1993
/src/lib/otp_lib/ @nholland94 @bkase
/src/lib/outside_pedersen_image/ @rbkhmrcr @vanishreerao @imeckler @psteckler
/src/lib/parallel_scan/ @deepthiskumar @bkase @cmr @imeckler
/src/lib/pedersen_lib/ @cmr @imeckler @psteckler @mrmr1993
/src/lib/pipe_lib/ @nholland94 @ghost-not-in-the-shell
/src/lib/pokolog/ @bkase @vanishreerao @rbkhmrcr @imeckler @mrmr1993
/src/lib/ppx_coda/ @psteckler @mrmr1993
/src/lib/ppx_util/ @mrmr1993 @psteckler
/src/lib/precomputed_values/ @cmr @bkase @mrmr1993 @imeckler
/src/lib/proposer/ @nholland94 @cmr @bkase @ghost-not-in-the-shell
/src/lib/prover/ @nholland94 @bkase @imeckler @mrmr1993
/src/lib/quickcheck_lib/ @nholland94 @ghost-not-in-the-shell @enolan
/src/lib/random_oracle/ @cmr @imeckler @mrmr1993
/src/lib/receipt_chain_database_lib/ @wu-s-john @bkase
/src/lib/rocksdb/ @psteckler @nholland94 @wu-s-john
/src/lib/transition_chain_prover/ @ghost-not-in-the-shell @nholland94
/src/lib/transition_chain_verifier/ @ghost-not-in-the-shell @nholland94
/src/lib/rose_tree/ @bkase @nholland94
/src/lib/secrets/ @cmr @imeckler
/src/lib/sgn/ @deepthiskumar @bkase @imeckler @mrmr1993
/src/lib/sgn_type/ @deepthiskumar @bkase @imeckler @mrmr1993
/src/lib/sha256_lib/ @rbkhmrcr @vanishreerao @imeckler @mrmr1993
/src/lib/signature_lib/ @rbkhmrcr @vanishreerao @mrmr1993 @imeckler
/src/lib/snark_bits/ @bkase @mrmr1993 @imeckler
/src/lib/snark_worker/ @cmr @nholland94 @imeckler
/src/lib/snark_keys/ @mrmr1993 @imeckler
/src/lib/snarkette/ @bkase @imeckler @mrmr1993
/src/lib/snarky/ @mrmr1993 @imeckler
/src/lib/snarky_blake2/ @rbkhmrcr @vanishreerao @imeckler @mrmr1993
/src/lib/snarky_curves/ @rbkhmrcr @vanishreerao @imeckler @mrmr1993
/src/lib/snarky_field_extensions/ @bkase @rbkhmrcr @vanishreerao @imeckler @mrmr1993
/src/lib/snarky_group_map/ @rbkhmrcr @vanishreerao @imeckler
/src/lib/snarky_log/ @rbkhmrcr @vanishreerao @mrmr1993 @imeckler
/src/lib/snarky_pairing/ @rbkhmrcr @vanishreerao @mrmr1993 @imeckler
/src/lib/snarky_taylor/ @bkase @cmr @mrmr1993 @mrmr1993 @imeckler
/src/lib/snarky_verifier/ @bkase @mrmr1993 @imeckler
/src/lib/sparse_ledger_lib/ @bkase @imeckler @cmr
/src/lib/staged_ledger/ @deepthiskumar @cmr
/src/lib/staged_ledger_diff/ @deepthiskumar @cmr
/src/lib/sync_handler/ @cmr @wu-s-john
/src/lib/syncable_ledger/ @cmr @enolan
/src/lib/auxiliary_database/ @wu-s-john @bkase @schmavery
/src/lib/transaction_snark/ @deepthiskumar @bkase @imeckler @mrmr1993
/src/lib/transaction_snark_scan_state/ @deepthiskumar @imeckler @cmr
/src/lib/transaction_snark_work/ @deepthiskumar @cmr @imeckler
/src/lib/transition_frontier/ @nholland94 @wu-s-john
/src/lib/transition_frontier_controller/ @nholland94 @ghost-not-in-the-shell
/src/lib/transition_frontier_persistence/ @nholland94
/src/lib/transition_handler/ @wu-s-john @nholland94 @ghost-not-in-the-shell
/src/lib/transition_router/ @wu-s-john @nholland94 @ghost-not-in-the-shell
/src/lib/trust_system/ @enolan @nholland94
/src/lib/unsigned_extended/ @bkase @mrmr1993 @imeckler
/src/lib/vrf_lib/ @nholland94 @mrmr1993 @bkase @imeckler
/src/lib/work_selector/ @deepthiskumar @nholland94
